#container {
    /*margin: 0 auto;*/
    text-align: center;
}
#list{
    list-style-type: none;
}
.completed{
    text-decoration: line-through;
}
#all_counter, #completed_counter, #active_counter {
    padding-left: 5px;
}
#pagination{
    padding-top: 10px;
}
#pages{
    display: inline-block;
}
.active-btn{
    background-color: coral;
}